/build
/.edk
/node_modules
/.esdk
/prompts
/.vscode
/dist
/private/__pycache__
/public/__pycache__
/server/__pycache__
/server/__pycache__
/server/__pycache__
/server/__pycache__
/server/__pycache__
/server/__pycache__
*.zip
*__pycache__
/node_modules
/.edk
